SERVER_PORT=8080
RUOYI_PROFILE=/data/upload
LOG_LEVEL_RUOYI=info
TOKEN_SECRET=change_me_to_a_long_random_secret

MYSQL_URL=jdbc:mysql://host.docker.internal:3306/dca_trade_runtime?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=false&serverTimezone=Asia/Shanghai
MYSQL_USERNAME=root
MYSQL_PASSWORD=change_me

REDIS_HOST=host.docker.internal
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

SPRING_MAIL_HOST=smtp.qq.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=your_email@qq.com
SPRING_MAIL_PASSWORD=your_authorization_code
SPRING_MAIL_PROTOCOL=smtp
SPRING_MAIL_SSL_TRUST=smtp.qq.com
